body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #5b6eb8;
}

.container{
  border: 3px solid black;
  width: 50vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.input-text{
  font-size: 1.3rem;
  font-weight: 600;
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
}
.btnShot{
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
}
td {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}

.hit {
  color: rgb(255, 255, 255); 
  font-weight: 600;
}

.miss {
  color: rgb(255, 255, 255); 
  font-weight: 600;
}

